<div>
<br>
<h2>DISCLAIMER</h2>
<br>
This website is mainly developed for <b>OWN PURPOSES</b>.
Hopefully, it will be helpful.
There has never been a claim that this is an original work, 
nor is it necessarily the best solution.
You might provide feedback on alternative ideas. 
<br>This is the WAY!
<br><br><br>
<hr>
<div>
&copy; {{ site.copyright }} --- {{ site.author }} --- 
{% for ii in site.navbarlinks %}    
  {% if ii.navbar == "About" %}
    <a href="{{ ii.link | relative_url }}">{{ ii.navbar }}</a> ---
  {% endif %}
{% endfor %}
Revision: {{ site.version }}.
</div>
</div>
